@model System.Collections.Generic.ICollection<Cinema.Model.Actor>

@{
    ViewBag.Title = "title";
}

<h2>title</h2>
<table>
    <thead>
        <th>Id</th>
        <th>Name<th>
                <th>Surname<th>
        <th>BirthPlace</th>
        <th>Birthday</th>

    </thead>
    @foreach (Cinema.Model.Actor actor in Model)
    {
        <tr>
            <td>@actor.Id</td>
            <td>@actor.Name</td>
            <td>@actor.Surname</td>
            <td>@actor.BirthPlace</td>
            <td>@actor.Birthday</td>
        </tr>
    }
</table>